# Dependencies
node_modules
.pnpm-store

# Next.js
.next
out

# Build / cache
*.tsbuildinfo
.turbo

# Env and secrets
.env
.env.*
!.env.example

# IDE / OS
.idea
.vscode
.DS_Store
*.log
npm-debug.log*
pnpm-debug.log*

# Vercel
.vercel

# Misc
*.pem
